html, body {
  display: grid;
  font-family: sans-serif;
  background-image: url(/assets/images/bg-header.jpg);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-color: black;
}
a {
  color: #CCC;
  text-decoration: none;
}
a:hover {
  color: #FFF;
}
.header {
  display: grid;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'dtjakobvariableconceptgx';
  text-align: center;
  line-height: 1.2;
  color: #666;
  text-shadow: -1px 0 #AAA, 0 1px #AAA, 1px 0 #AAA, 0 -1px #AAA;
}
.header img {
  max-height: 240px;
  max-width: 240px;
  border-radius: 120px;
}
.header-image {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  padding: 2vw;
}
.social {
  grid-area: social;
  display: flex;
  justify-self: right;
}
.social .social-icon {
  background-color: black;
  color: #CCC;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 6px;
}
.social-icon:hover {
  color: white;
}
.content {
  display: grid;
  background-image: url(/assets/images/bg-content.jpg);
  box-shadow: 0px -1px 1px black;
}
.video {
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-height: 338px;
  max-width: 600px;
}
/* Code partially provided by: https://hellbach.us/blog/tech/dev/efficient-method-embedding-youtube-videos/  */
.youtube-player { 
  align-self: center;
  justify-self: center;
  min-height: 338px;
  min-width: 600px;
  cursor: pointer; 
}
.youtube-thumb {
  display: flex;
  min-height: 338px;
  background-size: 600px 338px;
  }
.youtube-thumb .fa-youtube { 
  font-size: 48pt;
  margin: auto;
  text-shadow: 0 0 4px #666;
}
/* .video > .youtube-player > a > .youtube-thumb > i.fab.fa-youtube */
a.embed-link i {
  color: black;
  opacity: 0.6;
  transition: color 80ms ease-in-out;
}
a.embed-link:hover i {
  color: red;
  opacity: 1;
}
#prev, #next {
  display: inline-flex;
  color: #CCC;
  font-size: 48pt;
  margin: 0 1vw;
  /* display: none; */
}
#prev:hover, #next:hover {
  color: white;
  cursor: pointer;
}
/* ------------- */
.buy-now {
  grid-area: buy-now;
  background-color: black;
  color: #CCC;
  font-size: 2em;
  text-align: center;
}
.links  {
  margin: 20px auto;
}
.links i {
  margin: 10px;
  font-size: 36pt;
}
.album {
  color: white;
  font-weight: bolder;
  font-size: 2em;
}
.footer {
  grid-area: footer;
  align-content: end;
  font-size: .8em;
  color: #CCC;
  margin: 1em auto;
}
.❤️ {
  padding-left: 5px;
}
::-webkit-scrollbar { 
  display: none; 
}
@-ms-viewport {
  width: device-width;
}
@font-face {
  font-family: 'dtjakobvariableconceptgx';
  src: url('/assets/fonts/dtjakobvariableconceptgx-webfont.woff2') format('woff2'),
       url('/assets/fonts/dtjakobvariableconceptgx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------------------------------- */
/* For extra large screens */
@media (min-width: 1921px), (min-height: 1200px) {
  html, body {
    background-size: 100%;
  }
  .content {
    padding: 7vh;
    background-size: 100%;
  }
}
/* For Large Screens */
/* --------------------------------- */
@media (min-width: 1281px) {
  html, body {
    grid-template-rows: 1.1fr 1fr;
  }
  .header {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas: 
      "image title"
      ". social";
  }
  .title {
    font-size: 96pt;
  }
  .social {
    margin: auto 60px;
  }
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "video buy-now"
      "footer footer";
  }
  .buy-now {
    margin: 4em auto;
  }
}
/* For Medium Screens */
/* --------------------------------- */
@media (max-width: 1280px) {
  html, body {
    grid-template-rows: 1.1fr 1fr;
  }
  .header {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas: 
    "image title"
    ". social";
  }
  .title {
    font-size: 96pt;
  }
  .social {
    margin: auto 60px;
  }
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
    "video buy-now"
    "footer footer";
  }
  .buy-now {
    margin: 4em auto;
  }
}
/* For small screens */
/* --------------------------------- */
@media (max-width: 890px) {
  html, body {
    grid-template-rows: 1fr;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr 1fr;
    grid-template-areas: 
    "image"
    "social"
    "title";
  }
  .header-image {
    display: none;
  }
  .title {
    font-size: 64pt;
  }
  .social {
    margin: 0 auto 50px;
  }
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "buy-now"
      "video"
      "footer";
  }
  .buy-now {
    margin: 3em auto;
  }
  #next, #prev {
    display: none;
  }
}
/* --------------------------------- */
@media (max-width: 1147px) {
  html, body {
    grid-template-rows: 1fr;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas: 
      "image"
      "social";
  }
  .title {
    font-size: 64pt;
    margin-bottom: 20px;
  }
  .social {
    margin: 0 auto 50px;
  }
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "buy-now"
      "video"
      "footer";
  }
  .buy-now {
    margin: 3em auto;
  }
  #prev, #prev:first-child {
    display: none;
  }
  #next, #next:first-child {
    display: none;
  }
}