html,
body {
  font-family: sans-serif;
  background-image: url('./assets/images/bg-header.jpg');
  background-repeat: no-repeat;
  background-color: black;

  #root {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  a {
    color: #CCC;
    text-decoration: none;
  }

  a:hover {
    color: #FFF;
  }
}

.header {
  display: grid;

  img {
    max-height: 240px;
    max-width: 240px;
    border-radius: 120px;
  }

  .header-image {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 2vw;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'dtjakobvariableconceptgx';
    text-align: center;
    line-height: 1.2;
    color: #333;
    text-shadow: -1px 0 #AAA, 0 1px #AAA, 1px 0 #AAA, 0 -1px #AAA;
  }

  .social {
    grid-area: social;
    display: flex;
    justify-self: right;

    .social-icon {
      background-color: black;
      color: #CCC;
      border-radius: 100px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 6px;

      :hover {
        color: white;
      }
    }
  }
}

.content {
  display: grid;
  background-image: url('./assets/images/bg-content.png');
  box-shadow: 0px -1px 1px black;

  .video {
    grid-area: video;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .youtube-player {
    align-self: center;
    justify-self: center;
    min-height: 338px;
    min-width: 600px;
    cursor: pointer;
  }

  .youtube-thumb {
    display: flex;
    min-height: 338px;
    background-size: 600px 338px;

    svg {
      font-size: 48pt;
      margin: auto;
      text-shadow: 0 0 4px #666;
    }
  }
}

/* .video > .youtube-player > a > .youtube-thumb > i.fab.fa-youtube */
div.embed-link svg {
  color: black;
  opacity: 0.8;
  transition: color 80ms ease-in-out;
}

div.embed-link:hover svg {
  color: red;
  opacity: 1;
}

#prev,
#next {
  display: inline-flex;
  color: #CCC;
  font-size: 48pt;
  margin: 0 1vw;
  /* display: none; */
}

#prev:hover,
#next:hover {
  color: white;
  cursor: pointer;
}

/* ------------- */
.buy-now {
  grid-area: buy-now;
  background-color: black;
  color: #CCC;
  font-size: 2em;
  text-align: center;

  .links {
    margin: 20px auto;

    svg {
      margin: 10px;
      font-size: 36pt;
    }
  }

  .album {
    color: white;
    font-weight: bolder;
    font-size: 2em;
  }
}

.footer {
  grid-area: footer;
  align-content: end;
  font-size: .8em;
  color: #CCC;
  margin: 1em auto;
}

.❤️ {
  padding-left: 5px;
}

::-webkit-scrollbar {
  display: none;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'dtjakobvariableconceptgx';
  src: url('./assets/fonts/dtjakobvariableconceptgx-webfont.woff2') format('woff2'),
    url('./assets/fonts/dtjakobvariableconceptgx-webfont.woff') format('woff');
  font-display: auto;
}

/* ----------------------------------------------------- */
/* For extra large screens */
@media (min-width: 1921px),
(min-height: 1200px) {

  html,
  body,
  #root {
    background-size: 100%;
  }

  .content {
    padding: 7vh;
    background-size: 100%;
  }
}

/* For Large Screens */
/* --------------------------------- */
@media (min-width: 1281px) {

  html,
  body,
  #root {
    grid-template-rows: 1.1fr 1fr;
  }

  .header {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas:
      "image title"
      ". social";

    .title {
      font-size: 96pt;
    }

    .social {
      margin: auto 60px;
    }
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "video buy-now"
      "footer footer";

    .buy-now {
      margin: 4em auto;
    }
  }
}

/* For Medium Screens */
/* --------------------------------- */
@media (max-width: 1280px) {

  html,
  body,
  #root {
    grid-template-rows: 1.1fr 1fr;
  }

  .header {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas:
      "image title"
      ". social";

    .title {
      font-size: 96pt;
    }

    .social {
      margin: auto 60px;
    }
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "video buy-now"
      "footer footer";

    .buy-now {
      margin: 4em auto;
    }
  }
}

/* For small screens */
/* --------------------------------- */
@media (max-width: 890px) {

  html,
  body,
  #root {
    grid-template-rows: 1fr;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr 1fr;
    grid-template-areas:
      "image"
      "social"
      "title";

    .header-image {
      display: none;
    }

    .title {
      font-size: 64pt;
    }

    .social {
      margin: 0 auto 50px;
    }
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "buy-now"
      "video"
      "footer";

    .buy-now {
      margin: 3em auto;
    }

    #next,
    #prev {
      display: none;
    }
  }
}

/* --------------------------------- */
@media (max-width: 1147px) {

  html,
  body,
  #root {
    grid-template-rows: 1fr;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
    grid-template-areas:
      "image"
      "social";

    .title {
      font-size: 64pt;
      margin-bottom: 20px;
    }

    .social {
      margin: 0 auto 50px;
    }


    .content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.1fr;
      grid-template-areas:
        "buy-now"
        "video"
        "footer";

      .buy-now {
        margin: 3em auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "buy-now"
      "footer";

    .video {
      display: none;
    }
  }
}

/* --------------------------------- */

// Birthday CSS
$yellow: #ffd300;
$blue: #17d3ff;
$pink: #ff4e91;

$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.cake {
  position: absolute;
  left: 0;
  top: 0;
  padding: 4px;
  float: left;
  z-index: 100;
  color: orange;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: $yellow;
  top: 0;
  opacity: 0;

  @for $i from 1 through 13 {
    &:nth-child(#{$i}) {
      left: $i * 7%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * .5)}ms;
      animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
    }
  }

  &:nth-child(odd) {
    background: $blue;
  }

  &:nth-child(even) {
    z-index: 1;
  }

  &:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: $duration * 2ms;
  }

  &:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }

  &:nth-child(4n-7) {
    background: $pink;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(200px);
  }
}